* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    
}
.barra navideña {
    justify-content: center;


}

.header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.logo img {
    width: 100px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.search-bar {
    display: flex;
    gap: 10px;
}

.search-bar input {
    padding: 8px;
    width: 250px;
}

.search-bar button {
    padding: 8px 16px;
    background-color: #ffcf00;
    border: none;
    cursor: pointer;
}